@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.App {
  text-align: center;
  background-color: whitesmoke;
  font-family: 'Bebas Neue';
  letter-spacing: 1px;
}

@media (prefers-reduced-motion: reduce) {
  *{
    animation: none !important;
    transition: none !important
  }
}

#navbar{
  position: relative;
  top: 0;
  left: 0;
  padding: 2vw 0;
  width: 100%;
  height: 5vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navbar-link{
  text-decoration: none;
  font-size: 1.2rem;
  padding: 10px;
  cursor: pointer;
  color: black;
  transition: background-size 0.5s ease-out, color 1s ease-out;
  font-size: 1.4rem;
  background-repeat: no-repeat;
  width: 10vw;
  border-radius: 50px;
  background: linear-gradient(90deg, rgb(251, 75, 16));
  background-repeat: no-repeat;
  background-size: 0% 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.navbar-link:hover, 
.navbar-link-active{
  color: whitesmoke;
  background-size: 100% 100%;
}

.movies-dashboard{
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

#search-section{
  width: 75vw;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  position: relative;
}

.search-bar{
  width: 100%;
  height: 3vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  flex-wrap: nowrap;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 3vw;
}

.search-bar img{
  height: 100%;
  width: auto;
  display: block;
  opacity: 0.8;
  transition: 0.5s ease-out
}

.search-bar button {
  height: 100%;
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0.5vw 1.5vw;
  background-color:  rgb(251, 75, 16);
}

.search-bar button:hover img{
  opacity: 1;
  transform: scale(1.1);
}
.search-bar input{
  height: 95%;;
  width: 89.2%;
  background: none;
  border: none;
  padding: 0vw 1.5vw;
  font-size: 1.3rem;
  font-family: "Bebas Neue", sans-serif;
}

.searched-movie{
  width: 15vw;
  min-height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2vw 2.2vw;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.added-movie{
  width: 20vw;
  min-height: 32vw;
}

.searched-movie img{
  width: auto;
  max-height: 15.5vw;
  border-radius: 10px;
}

.movie-box-rating{
  width: 50%;
  height: 3vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(251, 75, 16);
  box-shadow: 0 0 6px rgb(251, 75, 16);
  border-radius: 10px;
  font-size: 1.5rem;
  margin: 1.5vw 0;
}

.movie-box-rating div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.movie-box-rating form{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.searched-movies{
  background-color: whitesmoke;
  position: absolute;
  z-index: 10000;
  top: 100%;
  width: 93.30%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.5vw 4vw;
  padding: 0;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
  overflow-y: scroll;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.searched-movies-active {
  max-height: 50vh; 
  opacity: 1;
  padding: 3vw 0; 
}

.added-movies{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3vw 4vw;
  padding: 4vw 0vw;
}

.movie-box-buttons{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20%;
}

.movie-details-link,
.movie-box-buttons button{
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  width: 3vw;
  height: 3vw;
  align-items: center;
  display: flex;                
  align-items: center;       
  justify-content: center;
  border: none;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.movie-details-link{
  background-color: lightgrey;
  color: rgb(61, 61, 61)
}

.plus-button{
  background-color: green;
}

.minus-button{
  background-color: red;
}

#movie-details-info-page{
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 2.5vw 0
}

#movie-details-info-page h1{
  font-size: 1.75rem;
  color: whitesmoke;
  box-shadow: 0px 0px 7px rgb(251, 75, 16);
  background-color: rgb(251, 75, 16);
  padding: 1vw 2vw; 
  border-radius: 10px;
}

.movie-details-info-container{
  width: 80vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2vw;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: white;
}

.movie-details-info-box{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 1.2rem;
  width: 100%;
}

.movie-details-info-box img{
  width: 20vw;
  max-height: 30vw;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgb(251, 75, 16);
  animation: fadeInImg 1s ease-out;
}

@keyframes fadeInImg {
  from {
    opacity: 0;
    scale: 1.15;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}


.movie-details-info-box > div{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.movie-details-info-box-lists{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  column-gap: 6vw;
}

.movie-details-info-box-lists > div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}

.movie-details-info-box-lists ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.movie-details-info-box h3{
  font-size: 1.4rem;
  margin-bottom: 1vw;
  border-bottom: 3px solid rgb(251, 75, 16);
}

.movie-details-info-box p,
.movie-details-info-box li{
  animation: fadeInWriting 2.5s ease-out;
}

@keyframes fadeInWriting {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.index-span{
  font-size: 1.2rem;
  font-weight: bold;
  width: 3vw;
  height: 3vw;
  line-height: 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  aspect-ratio: 1 / 1;  
}

#reelbot-page{
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

#reelbot-page img{
  width: 3.5vw;
  height: auto;
}

#reelbot-page h1{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#reelbot-page form{
  width: 75vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 2vw;
  margin-top: 2vw;
}

#reelbot-page form input{
  width: 100%;
  height: 3vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  flex-wrap: nowrap;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 3vw;
  border: none;
  padding: 0vw 1.5vw;
  font-size: 1.3rem;
  font-family: "Bebas Neue", sans-serif;
}

#reelbot-page form div{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: left;
  background-color: white;
  padding: 0vw 1.5vw;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#reelbot-page form button{
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75vw 3vw;
  background-color: rgb(251, 75, 16);
  font-size: 1.4rem;
  border-radius: 50px;
  color: whitesmoke;
  transition: border 0.1s ease, color 0.3s ease, background-color 0.3s ease;
  font-family: 'Bebas Neue';
}

#reelbot-page form button:hover{
  border: 2px solid rgb(251, 75, 16);
  color: rgb(251, 75, 16);
  background-color: whitesmoke;
}