@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.App {
  text-align: center;
  font-family: 'Bebas Neue';
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  --orange-color:rgb(254, 215, 170)
}

@media (prefers-reduced-motion: reduce) {
  *{
    animation: none !important;
    transition: none !important
  }
}

.movies-dashboard{
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

#search-section{
  width: 75vw;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  position: relative;
}

.search-bar{
  width: 100%;
  height: 3vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  flex-wrap: nowrap;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 3vw;
  background-color: white;
}

.search-bar img{
  height: 100%;
  width: auto;
  display: block;
  opacity: 0.8;
  transition: 0.5s ease-out
}

.search-bar button {
  height: 100%;
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0.5vw 1.5vw;
  background-color: rgb(220, 38, 38);
}

.search-bar button:hover img{
  opacity: 1;
  transform: scale(1.1);
}
.search-bar input{
  height: 95%;;
  width: 89.2%;
  background: none;
  border: none;
  padding: 0vw 1.5vw;
  font-size: 1.3rem;
  font-family: "Bebas Neue", sans-serif;
}

.searched-movie{
  width: 15vw;
  min-height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2vw 2.2vw;
  border-radius: 10px;
  box-shadow: 4px 4px 15px rgb(220, 38, 38, 0.4);
  background-color: white;
}

.added-movie{
  width: 20vw;
  min-height: 32vw;
}

.searched-movie img{
  width: auto;
  max-height: 15.5vw;
  border-radius: 10px;
}

.movie-box-rating{
  width: 50%;
  height: 3vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--orange-color);
  box-shadow: 0 0 6px var(--orange-color);
  border-radius: 10px;
  font-size: 1.5rem;
  margin: 1.5vw 0;
}

.movie-box-rating div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.movie-box-rating form{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.searched-movies{
  background-color: white;
  position: absolute;
  z-index: 10000;
  top: 100%;
  width: 93.30%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.5vw 4vw;
  padding: 0;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
  overflow-y: scroll;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.searched-movies-active {
  max-height: 50vh; 
  opacity: 1;
  padding: 3vw 0; 
}

.added-movies{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3vw 4vw;
  padding: 4vw 0vw;
}

.movie-box-buttons{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20%;
}

.movie-details-link,
.movie-box-buttons button{
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  width: 3vw;
  height: 3vw;
  align-items: center;
  display: flex;                
  align-items: center;       
  justify-content: center;
  border: none;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.movie-details-link{
  background-color: lightgrey;
  color: rgb(61, 61, 61)
}

.plus-button{
  background-color: green;
}

.minus-button{
  background-color: red;
}

#movie-details-info-page{
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 2.5vw 0
}

#movie-details-info-page h1{
  font-size: 1.75rem;
  color: black;
  box-shadow: 0px 0px 7px var(--orange-color);
  background-color: var(--orange-color);
  padding: 1vw 2vw; 
  border-radius: 10px;
  margin-bottom: 15px;
}

.movie-details-info-container{
  width: 80vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2vw;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: white;
}

.movie-details-info-box{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 1.2rem;
  width: 100%;
}

.movie-details-info-box img{
  width: 20vw;
  max-height: 30vw;
  border-radius: 10px;
  box-shadow: 0px 0px 10px var(--orange-color);
  animation: fadeInImg 1s ease-out;
}

@keyframes fadeInImg {
  from {
    opacity: 0;
    scale: 1.15;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}


.movie-details-info-box > div{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.movie-details-info-box-lists{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  column-gap: 6vw;
}

.movie-details-info-box-lists > div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}

.movie-details-info-box-lists ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.movie-details-info-box h3{
  font-size: 1.4rem;
  margin-bottom: 1vw;
  border-bottom: 3px solid var(--orange-color);
}

.movie-details-info-box p,
.movie-details-info-box li{
  animation: fadeInWriting 2.5s ease-out;
}

@keyframes fadeInWriting {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.index-span{
  font-size: 1.2rem;
  font-weight: bold;
  width: 3vw;
  height: 3vw;
  line-height: 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  aspect-ratio: 1 / 1;  
}

#reelbot-page{
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

#reelbot-page img{
  width: 3.5vw;
  height: auto;
}

#reelbot-page h1{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#reelbot-page form{
  width: 75vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 2vw;
  margin-top: 2vw;
}

#reelbot-page form input{
  width: 100%;
  height: 3vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  flex-wrap: nowrap;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 3vw;
  border: none;
  padding: 0vw 1.5vw;
  font-size: 1.3rem;
  font-family: "Bebas Neue", sans-serif;
}

.reelbot-response{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: left;
  background-color: white;
  padding: 0vw 1.5vw;
  text-align: left;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
}


#reelbot-page form button{
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75vw 3vw;
  background-color: var(--orange-color);
  font-size: 1.4rem;
  border-radius: 50px;
  color: black;
  transition: border 0.1s ease, color 0.3s ease, background-color 0.3s ease;
  font-family: 'Bebas Neue';
}

#reelbot-page form button:hover{
  border: 2px solid var(--orange-color);
  color: var(--orange-color);
  background-color: whitesmoke;
}

#loading-spinner{
  width: 3vw;
  height: 3vw;
  border: 0.5vw solid rgba(251, 75, 16, 0.2);
  border-top: 0.5vw solid var(--orange-color);
  border-radius: 50%;
  animation: spin 1s linear infinite; 
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.signup-page{
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.signup-page-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2vw;
  font-size: 1.3rem;
  width: 30vw;
}

.signup-page-form div{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5vw;
  width: 100%;
}

.signup-page-form > div input{
  width: 100%;
  height: 2.5vw;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 0 7.5px;
  font-size: 1.1rem;
}

#name-div{
  display: flex;
  flex-direction: row;
  gap: 1.5vw;
}

.signup-page-form button{
  font-family: 'Bebas Neue';
  font-size: 1.4rem;
  color: black;
  margin: 1vw;
  border: none;
  width: 40%;
  height: 2.5vw;
  border-radius: 5px;
  background-color: var(--orange-color);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.signup-page-form button:hover{
  background-color: white;
  color: var(--orange-color);
  border: 2px solid var(--orange-color);
}

.error-message-div{
  margin: 3vw;
  height: 1vw;
}

.error-message{
  color: rgb(220, 38, 38);  
  font-size: 1.2rem;
  animation: fadeIn 0.5s ease-out forwards;
  text-decoration: underline;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    scale: 0.5
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}



